
body {
    background-color: rgb(230, 240, 230);
}
.navbar {
  top: 0;
  background-image: url('moo.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 144px;
  display: flex;
  justify-content: space-between; /* keep this if you want */
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: flex-end;  /* push links to right */
  gap: 20px;
  width: 100%;                /* takes full width of navbar */
  align-items: center;
  font-size: 30px;
}
.nav-links a {
    color: rgb(3, 65, 24);
    text-decoration: none;
    margin-left: 15px;
    text-align: right;
  }
  
  .nav-links a:hover {
    color: #2f82ff;
  }
  
  .nav-links a.active {
    color: #2f82ff;       
    font-weight: bold;    
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(9, 78, 9);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #2f82ff;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.main-content {
  padding: 20px;
}

.wrapper{
  background-color:rgb(230, 240, 230);
  height: 100vh;
  width: max(40%, 600px);
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.signup-page {
  min-height: 100vh;
  background-image: url('moo.png');
  background-size: cover;
  background-position: right;
  overflow: hidden;
}

form input:hover {
  border: 2px solid #0d5037;
}

div:has(input:focus) > label{
  background-color: #186b4c;
}

form button:hover {
  background-color: rgb(165, 207, 165);
  outline: none;
}

form button:focus {
  background-color: rgb(109, 137, 109);
  outline: none;
}
@media(max-width: 1100px){
  .wrapper{
    width:min(600px,100%);
    border-radius: 0;
  }
}

.incorrect label {
  color: rgb(117, 101, 48);
}

.incorrect input {
  border: 2px solid rgb(117, 101, 48);
}
